.posts {
	align-items: center;
	flex-grow: 1;

	padding-left: 10px;
	padding-right: 10px;

	display: flex;
	flex-direction: column;
}

.posts .post {
	max-width: 640px;
	width: 100%;

	display: flex;
	flex-direction: column;

	background-color: white;

	margin-top: 40px;
	border-radius: 15px;
}

.posts .post .meta {
	height: 24px;

	padding-top: 16px;

	padding-left: 20px;
	padding-right: 20px;

	display: flex;
	align-items: center;
}

.posts .post .meta .more {
	margin-left: auto;
	display: flex;
	justify-content: right;
}

.posts .post .meta .more .btn {
	max-width: 24px;
	cursor: pointer;
}

.posts .post .meta .more .list {
	width: 150px;
	position: absolute;
	margin-top: 20px;
	background-color: white;

	border-radius: 8px;
	box-shadow: 0px 0px 32px -20px rgba(66, 68, 90,1);

	display: flex;
	flex-direction: column;

	z-index: 1000;
}

.posts .post .more .list p {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	margin: 0;
	cursor: pointer;
}

.posts .post .more .list p:hover {
	background-color: rgba(0, 0, 0, 0.02);
}

.posts .meta .icon {
	width: 22px;
	height: 22px;

	border-radius: 6px;

	cursor: pointer;

	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}

.posts .meta .author {
	margin-left: 15px;
	font-size: 15px;

	cursor: pointer;

	font-weight: 500;

	color: black;
	text-decoration: none;
}

.posts .meta .author:hover {
	color: #4683d9
}

.posts .meta .timestamp {
	font-size: 14px;
	color: gray;
	margin-left: 20px;
	font-weight: 400;
}

.posts .post .title {
	font-size: 30px;

	padding-left: 20px;
	padding-right: 20px;

	margin-top: 8px;
	margin-bottom: 10px;
}

.posts .post .sub-title {
	font-size: 25px;

	padding-left: 20px;
	padding-right: 20px;

	margin-top: 4px;
	margin-bottom: 4px;
}

.posts .post .image {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
}

.posts .post .image .caption {
	font-size: 14px;
	margin-right: auto;
	margin-left: 10px;
	margin-bottom: 0px;
}

.posts .post .text {
	font-size: 18px;

	padding-left: 20px;
	padding-right: 20px;

	word-wrap: break-word;

	margin-top: 10px;
	margin-bottom: 10px;
}

.posts .post .post-content .twitter {
	display: flex;
	justify-content: center;
}

.posts .post .data {
	height: 22px;

	padding-left: 20px;
	padding-right: 20px;

	padding-bottom: 16px;

	display: flex;
	justify-content: space-between;
}

.posts .post .post-content {
	display: flex;
	flex-direction: column;
}

.posts .post:not(.large) .post-content {
	cursor: pointer;
}

.posts .post .post-content ul, .posts .post .post-content ol {
	margin-top: 8px;
	margin-bottom: 8px;
}

.posts .post .post-content li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.posts .post .post-content .link-url {
	text-decoration: none;
	margin: 5px 20px;
	word-wrap: break-word;
}

.posts .post .post-content .ytb-video {
	 position: relative;
  width: calc(100% - 40px);
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: calc(56.25% - calc(40px * 0.5625));
}

.posts .post .post-content .ytb-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.posts .post .post-content .image {
	margin-top: 10px;
	margin-bottom: 10px;

	padding-top: 10px;
	padding-bottom: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #EBEBEB;
}

.posts .post .post-content .image img {
	max-width: 100%;
}

.posts .post .post-content .image.stretched {
	flex-grow: 1;

	padding-top: 0px;
	padding-bottom: 0px;
}

.posts .data .actions {
	display: flex;
}

.posts .actions .action {
	display: flex;
	display: flex;
	align-items: center;

	margin-right: 40px;

	cursor: pointer;
}

.posts .action img {
	width: 22px;
}

.posts .action p {
	margin-left: 5px;
	font-weight: 500;
}

.posts .data .rating {
	display: flex;
	align-items: center;
}

.posts .rating svg, .posts .rating img {
	max-width: 18px;

	cursor: pointer;
}

.posts .rating p {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 500;

	cursor: context-menu;
}

.posts .rating-list {
	width: 200px;
	height: 70px;

	overflow: auto;

	position: absolute;

	margin-left: -55px;

	border-radius: 15px;

	margin-top: 90px;

	background-color: white;
	box-shadow: 0px -1px 24px -16px rgba(66, 68, 90, 1);

	padding: 10px;
	padding-bottom: 0px;
	box-sizing: border-box;

	display: none;
	flex-direction: column;
}

.posts .rating p:hover ~ .rating-list{
	display: flex;
}

.posts .rating .rating-list:hover {
	display: flex;
}

.posts .rating-list .user {
	height: 35px;

	border-radius: 5px;

	margin-bottom: 10px;

	display: flex;

	align-items: center;

	cursor: pointer;

	text-decoration: none;
}

.posts .rating-list .user p {
	cursor: pointer;
}

.posts .rating-list .pic {
	width: 22px;
	height: 22px;

	cursor: pointer;

	margin-left: 8px;
	margin-right: 8px;
	border-radius: 6px;
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}

.posts .rating-list .user:hover {
	background-color: #F2F2F2;
}

.posts .large {
	max-width: 1020px;
	align-items: center;
}

.posts .large .meta {
	width: 640px;
	margin-top: 20px;
}

.posts .large .post-content {
	width: 680px;
}

.posts .large .data {
	width: 640px;
	margin-bottom: 20px;
}

.posts .large .new-post {
	width: 200px;
	height: 47px;

	cursor: pointer;

	font-size: 14px;

	background-color: #4683D9;

	color: white;

	border-radius: 7px;

	border: 0;

	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: 50px;

	font-weight: 500;

	outline: none;
}

.posts .large .new-post:hover {
	background-color: #437CCE;
}

.posts .large .link {
	width: 100%;
	background: #fff;
  border: 1px solid rgba(0,0,0,.13);
  border-top-color: rgba(0,0,0,.29);
  font-size: 15px;
  padding: 7px 30px 7px 12px;
  box-sizing: border-box;
  outline: none;
}

.new-post-title {
	max-width: 660px;
	width: 100%;
	box-sizing: border-box;

	cursor: text;

	outline: none;
}

.new-post-title[placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}

@media only screen and (max-width: 980px) {
	.posts {
		width: 0%;
	}

	.posts .large .new-post {
		height: 90px;
		width: 300px;
		font-size: 36px;
	}

	.posts .rating-list {
		width: 400px;
		margin-left: -300px;
		height: 140px;
		margin-top: 170px;
	}

	.posts .rating-list .user {
		height: 70px;
	}

	.posts .rating-list .user .pic {
		width: 66px;
		height: 66px;
	}

	.posts .post {
		max-width: 100%;
	}

	.posts .post .meta {
		height: 72px;
	}

	.posts .post .meta .icon {
		width: 60px;
		height: 60px;
		border-radius: 15px;
	}

	.posts .post .meta .author {
		font-size: 45px;
		margin-left: 30px;
	}

	.posts .post .meta .timestamp {
		font-size: 35px;
	}

	.posts .post .post-content .title {
		font-size: 75px;
		margin-top: 25px;
		margin-bottom: 30px;
	}

	.posts .post .post-content .text {
		font-size: 36px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.posts .post .post-content .link-url {
		margin: 5px 20px;
		font-size: 36px;
	}	

	.posts .post .post-content .ytb-video {
		width: 100%;
		padding-bottom: 56.25%;
		margin: 0;
		margin-bottom: 20px;
	}

	.posts .post .post-content li {
		font-size: 48px;
	}

	.posts .post .post-content .link-url {
		font-size: 40px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.posts .post .data {
		height: 72px;
		margin-bottom: 30px;
	}

	.posts .post .data .action img {
		width: 50px;
	}

	.posts .post .data .action p {
		font-size: 44px;
		margin-left: 20px;
	}

	.posts .post .data .rating svg {
		max-width: 50px;
		width: 50px;
		height: 50px;
	}

	.posts .post .data .rating p {
		font-size: 44px;
		margin-left: 20px !important;
		margin-right: 20px !important;
	}

	.posts .post .meta .more .btn {
		max-width: 72px;
	}

	.posts .post .meta .more .list {
		width: 400px;
		margin-top: 60px;
		border-radius: 24px;
	}

	.posts .post .meta .more .list p {
		font-size: 42px;
		padding-top: 20px;
		padding-left: 30px;
		padding-bottom: 20px;
	}
}