body {
	background-color: #F2F2F2;
}

.body {
	width: 100%;

	padding-left: 25px;
	padding-right: 25px;

	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

* {
	font-family: Roboto;
}

.body .logo {
	margin: 0 auto;
	margin-top: 25px;

	display: flex;

	user-select: none;

	align-items: center;
}

.body .logo svg {
	width: 65px;
	height: 75px;
}

.body .logo p {
	margin: 0;
	margin-left: 15px;
	font-size: 30px;

	color: red;
}

.body .message {
	width: 100%;

	margin: 0 auto;
	margin-top: 50px;

	background-color: white;
}

.body .message h1 {
	font-size: 27px;
}

.body .message p {
	font-size: 20px;

	padding-left: 20px;
	padding-right: 20px;
}

.body .message button {
	margin-top: 20px;
	margin-bottom: 20px;

	border: 0;

	font-size: 14px;

	color: white;

	border-radius: 8px;

	cursor: pointer;

	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;

	background-color: #4683D9;
}